[Unit]
Description=Charger notify service

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/home/%u/.local/bin/charge-notify

[Install]
WantedBy=default.target
