[Unit]
Description=Headphone Detection Service

[Service]
Type=simple
ExecStartPre=/bin/sleep 2
ExecStart=/home/%u/.local/bin/headphone-status

[Install]
WantedBy=default.target
