[Unit]
Description=SWWW Wallpaper Daemon Service
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swww-daemon
Restart=on-failure

[Install]
WantedBy=graphical-session.target
