[Unit]
Description=swww Wallpaper Daemon
After=graphical-session.target

[Service]
ExecStart=/usr/bin/swww-daemon
Restart=on-failure
Type=simple

[Install]
WantedBy=default.target
