/* github.com/pahasara/HyprDots */

@import url("themes/fluent.css");

* {
  font-family: "Neuropolitical";
  font-size: 12px;
  font-weight: bold;
}

window#waybar {
  color: @fg-module;
  background: @background;
}

#workspaces {
  min-width: 170px;
  background: @bg-module;
  border-radius: 15px;
}

#workspaces button {
  padding: 0px;
  margin: 8px 8px 8px 0px;
  min-height: 2px;
  min-width: 18px;
  border: 1;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  color: @fg-persist;
  background-color: @fg-persist;
}

#workspaces button:hover {
  color: @fg-blink;
  background: @fg-blink;
  border-radius: 15px;
  opacity: 0.5;
}

#workspaces button.selected,
#workspaces button.active {
  color: @fg-alt;
  background: @fg-alt;
  min-width: 30px;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

#workspaces button.empty {
  color: @fg-persist;
  background-color: @fg-persist;
  opacity: 0.3;
}

#workspaces button.urgent {
  color: @warning;
  background-color: @warning;
  animation: workspace_urgent 1s ease-in-out infinite;
}

#tray {
  background-color: @bg-tray;
}

#battery icon {
  color: red;
}

#battery.plugged {
  color: @foreground;
}

#battery.charging {
  color: @foreground;
  animation-name: blink;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: @fg-blink;
  }
}

#battery.warning:not(.charging) {
  color: @warning;
  animation-name: blink;
  animation-duration: 0.9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  color: @critical;
  animation-name: blink;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#idle_inhibitor {
  font-size: 18px;
  font-weight: 100;
  border-radius: 25px;
  padding-left: 7px;
  padding-right: 9px;
}

#idle_inhibitor.activated {
  color: @fg-module;
}

#idle_inhibitor.deactivated {
  color: #00c0ff;
}

#custom-storage,
#window,
#clock.date,
#memory,
#cpu {
  color: @fg-alt;
}

#clock {
  font-family: "JetBrainsMono Nerd Font";
}

#clock.time {
  font-size: 13.75px;
  font-weight: 900;
}

#wireplumber,
#battery,
#custom-clipboard,
#network {
  font-size: 13px;
  font-style: normal;
}

#custom-song {
  font-family: "Neuropolitical";
  font-style: italic;
  font-weight: 700;
  color: @foreground;
}

.modules-right {
  background: @bg-module;
  border-radius: 13px;
  padding-left: 10px;
  padding-right: 5px;
  margin: 5px;
}
