CompileFlags:
  Add: 
    # - -std=c++23
    - -Wall
    - -Wextra
    - -DLOCAL
    - -O2
    - -Wshadow
    - -Wconversion
    - -Wfloat-equal
    - -Wno-unused-const-variable
    - -Wno-sign-conversion
    # - -pedantic
    # - -Werror=implicit-function-declaration  # Important for C
    # - -Wstrict-prototypes                    # C-specific
    - -Wold-style-definition                 # C-specific

Diagnostics:
  ClangTidy:
    Add: 
      - modernize*
      - bugprone*
      # - readability*
      - performance*
      - cert-*
      # - misc-*
      - portability-*
  # Suppress:
  #   - "modernize-use-trailing-return-type"

Index:
  Background: Build
  
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  Designators: Yes

Hover:
  ShowAKA: Yes

Completion:
  AllScopes: Yes

Style:
  FullyQualifiedNamespaces: No
