.config/nvim/lazy-lock.json
sync_dots.sh
.config/hypr/hyprland.conf
.config/hypr/local.conf
.config/systemd/user/default.target.wants
.config/systemd/user/graphical-session.target.wants
.config/systemd/user/timers.target.wants

