* {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 11px;
	min-height: 0px;
	padding: 1px;
    font-weight: bold;
}

.modules-right,.modules-left,.modules-center {
	border-radius: 10px;
}
.modules-right {
    padding: 0 2px;
}

.modules-left {
    padding: 0 5px;
}

.modules-center {
}


window#waybar {
    background-color: rgba(12, 12, 12, 0.8);
	border: 2px solid rgba(20, 180, 255, 0.9);
	border-radius: 10px;
	color: #00bbff;
}

#window {
}

#workspaces {
	background: transparent; 
}

#workspaces button {
    padding: 0 2px;
    padding: 0 3px;
    margin: 0 2px;
	background:transparent;
    /* border: 2px solid transparent; */
	border-radius: 2px 12px 2px 12px;
	color:#989898;
}

#workspaces button.focused {
    color: #000000;
	background: transparent;
    border-top: 2px solid transparent;
}

#workspaces button.active {
	color: #00bbff;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#custom-storage, #custom-weather, #clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode, #backlight {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-spotify {
    /* color: rgb(102, 220, 105); */
}

#tray {
}
