/* github.com/pahasara/dotFiles */

@import url("/home/shinzo/.config/waybar/themes/miku.css");

* {
    font-family: "CaskaydiaMono Nerd Font";
    font-size: 12.25px;
    min-height: 0px;
    padding: 1 2px;
    font-weight: bold;
}


window#waybar {
    background: @background;
    border: 2px solid @border;
}

#window {}

#workspaces {}

#workspaces button {
    margin: 0 1px;
    padding: 0 2px;
    color: @fg-module;
}

#workspaces button:hover {}

#workspaces button.focused {
    border-top: 2px solid transparent;
}

#workspaces button.active {
    color: @foreground;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#wireplumber,
#custom-bandwidth,
#custom-notification,
#custom-update,
#custom-logo,
#idle_inhibitor,
#custom-storage,
#custom-weather,
#window,
#workspaces,
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-spotify,
#mode,
#backlight {
    padding: 2 10 2 8px;
    background-color: @bg-module;
    border-radius: 12px;
    /* border: 2px solid @border-module; */
    color: @fg-module;
}

#tray {
    padding: 2 10 2 8px;
    background-color: @bg-tray;
    border-radius: 12px;
    /* border: 2px solid @border-module; */
    color: @fg-module;
}

#custom-logo {
    color: @foreground;
    padding: 2 12 2 7px;
}

#battery {}

#battery icon {
    color: red;
}

#battery.plugged {
    color: @foreground;
    animation-name: blink;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging {
    color: @foreground;
    animation-name: blink;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: @fg-blink;
    }
}

#battery.warning:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {}

#memory {}

#network {}

#network.disconnected {}

#idle_inhibitor.activated {
    color: @foreground;
}

#pulseaudio {}

#pulseaudio.muted {}

#custom-spotify {}

#tray {
    padding: 3;
}
