// github.com/pahasara/HyprDots

/* Hacker Theme */
* {
  bg:         #0000008B; //window
  main-bg:    #051008AA; //main
  main-br:    #294732;   //windowBorder
  main-fg:    #E0FFE8;   //main
  input-bg:   #0000004F; //input
  input-br:   #1A2A1A;   //inputBorder
  select-fg:  #00F041;   //selected
  select-bg:  #1A2D20AA; //selected

  black   : #000000;
  red     : #F7768E;
  green   : #9ECE6A;
  yellow  : #E0AF68;
  blue    : #7AA2F7;
  magenta : #9AAECC;
  grey    : #BCBDBF;
  cyan    : #00F041;
  accent: @cyan;
  urgent: @yellow;
}
