* {
  bg0:    #121212ef;
  bg1:    #2A2A2A10;
  bg2:    #000000cf;
  bg3:    #00a4d0ED;
  fg0:    #E6E6E6;
  fg1:    #FFFFFF;
  fg2:    #969696;
  fg3:    #3D3D3D;
  red     : #f7768e;
  green   : #9ece6a;
  yellow  : #e0af68;
  blue    : #7aa2f7;
  magenta : #9aaecc;
  cyan    : #4abaef;

  accent: @red;
  urgent: @yellow;
}
