/* github.com/pahasara/HyprDots */

@import url("themes/fluent.css");

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14.75px;
  padding: 0px 3px;
  font-weight: bold;
}

window#waybar {
  background: @transparent;
  border: 0px solid @border;
  border-radius: 10px;
}

#workspaces {
  min-width: 190px;
}

#workspaces button {
  padding: 0px;
  margin: 5px 2px;
  min-width: 24px;
  transition: all 0.12s cubic-bezier(0.55, -0.68, 0.48, 1.68);
  opacity: 0.9;
  color: @fg-persist;
  background-color: transparent;
}

#workspaces button label {
  font-size: 20px;
}

#workspaces button.active {
  color: @fg-blink;
  opacity: 0.9;
}

#workspaces button.occupied {
  color: @foreground;
}

#workspaces button.empty {
  color: @fg-persist;
  opacity: 0.5;
}

#workspaces button.urgent {
  color: @warning;
  opacity: 1;
  transition: all 0.15s cubic-bezier(0.55, -0.68, 0.48, 1.68);
  animation-name: blink-ws;
  animation-duration: 1.2s;
  animation-iteration-count: 2;
}

@keyframes blink-ws {
  to {
    color: transparent;
  }
}

#mode {
  background: #64727d;
  border-bottom: 3px solid white;
}

#idle_inhibitor,
#workspaces,
#custom-song,
#center,
#custom-storage,
#memory,
#cpu,
#backlight {
  padding: 0px 2px 0px 8px;
  background-color: @background;
  border: 2px solid @border-module;
  color: @fg-module;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
}

#backlight,
#clock,
#pulseaudio,
#battery {
  padding: 0px 10px 0px 8px;
}

#workspaces {
  text-shadow: none;
}

#idle_inhibitor,
#workspaces,
#custom-storage,
#memory,
#cpu {
  border-radius: 14px 4px 15px 6px;
}

#center {
  border-radius: 14px 9px 14px 9px;
}

#right,
#custom-song {
  border-radius: 4px 14px 6px 15px;
  background-color: @background;
  border: 2px solid @border-module;
  color: @fg-module;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
}

#battery icon {
  color: red;
}

#battery.not-charging {
  color: @foreground;
}

#battery.charging {
  color: @foreground;
  animation-name: blink;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: @fg-blink;
  }
}

#battery.warning:not(.charging) {
  color: @warning;
  animation-name: blink;
  animation-duration: 0.9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  color: @critical;
  animation-name: blink;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network {
  font-size: 16.75px;
  padding: 0px 13px 0px 8px;
}

#network.disconnected {
}

#idle_inhibitor {
  font-size: 16px;
  padding: 0px 5px 0px 8px;
}

#clock.time {
  font-size: 15px;
  font-weight: 900;
}

#idle_inhibitor.activated {
  color: @fg-module;
}

#idle_inhibitor.deactivated {
  color: @active;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-seperator {
  color: @separator;
}

#tray {
  padding: 3px;
}

#custom-song {
  font-family: "CaskaydiaMono NerdFont";
  font-style: italic;
  font-weight: 900;
  padding-right: 10px;
  color: @foreground;
}
