/* github.com/pahasara/HyprDots */

@import url("themes/azure.css");

* {
  font-family: "Neuropolitical";
  font-size: 12px;
  font-weight: bold;
}

window#waybar {
  color: @fg-module;
  background: @background;
  border: 1px solid @border;
  border-radius: 15px;
}

#workspaces {
  min-width: 185px;
}

#workspaces button {
  padding: 0px;
  margin: 8px 10px 8px 0px;
  min-height: 5px;
  min-width: 18px;
  border-radius: 15px;
  border: 0px;
  transition: all 0.3s ease-in-out;
  opacity: 0.9;
  color: @fg-persist;
  background-color: @fg-persist;
}

#workspaces button:hover {
  color: @foreground;
  background: @foreground;
  border-radius: 15px;
  opacity: 0.7;
}

#workspaces button.active {
  color: @fg-blink;
  background: @fg-blink;
  min-width: 30px;
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
}

#workspaces button.occupied {
  color: @foreground;
  background-color: @fg-persist;
}

#workspaces button.empty {
  color: @fg-persist;
  background-color: @fg-persist;
  opacity: 0.3;
}

#workspaces button.urgent {
  color: @warning;
  background-color: @warning;
  animation: workspace_urgent 1s ease-in-out infinite;
}

#tray {
  background-color: @bg-tray;
}

#battery icon {
  color: red;
}

#battery.plugged {
  color: @foreground;
}

#battery.charging {
  color: @foreground;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: @fg-blink;
  }
}

#battery.warning:not(.charging) {
  color: @warning;
  animation-name: blink;
  animation-duration: 0.9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  color: @critical;
  animation-name: blink;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-storage,
#window,
#clock.date,
#memory,
#cpu {
  color: @fg-alt;
}

#clock.time {
  font-size: 13.75px;
  font-weight: 900;
}

#wireplumber,
#idle_inhibitor,
#battery,
#clock,
#tray,
#pulseaudio,
#network {
  font-size: 12px;
  font-family: "JetBrainsMono Nerd Font";
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
}

#idle_inhibitor {
  font-size: 18px;
  font-weight: 100;
  border-radius: 25px;
  padding-left: 7px;
  padding-right: 9px;
}

#idle_inhibitor.activated {
  color: @fg-module;
}

#idle_inhibitor.deactivated {
  color: @active;
}

#custom-song {
  font-family: "Neuropolitical";
  font-size: 12px;
  font-style: italic;
  font-weight: 700;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  color: @foreground;
}

.modules-left {
  padding-left: 8px;
}

.modules-right {
  border-radius: 13px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
}
