# ~/.config/starship.toml

# Wait 10 milliseconds for starship to check files under the current directory.
scan_timeout = 10

# Disable the blank line at the start of the prompt
add_newline = true

# 
# Use custom format
format = """
[](fg:#323437)\
[   ](bg:#323437 fg:#BFBFBF)\
[](bg:#0088BB fg:#323437)\
[ $directory ](bg:#0088BB fg:#000000)\
[ ](fg:#0088BB)\
$line_break\
"""

right_format = """
$character\
$symbol\
$c\
$cpp\
$dotnet\
$java\
$python\
$git_branch\
$git_state\
$git_status\
$cmd_duration\
"""

[character]
success_symbol = "[✔](green)"
error_symbol = "[✘](red)" # ❯
vimcmd_symbol = "[λ](blue)" # ❮

[username]
show_always = true
style_user = "bg:color_orange fg:color_fg0"
style_root = "bg:color_orange fg:color_fg0"
format = '[ $user]($style)'

[hostname]
ssh_only = false
format = '[$hostname ]($style)'
style = 'bold gray'

[directory]
format = '[$path]($style)'
home_symbol = "~"
truncation_length = 4
truncation_symbol = "…/"
style = 'bold gray'

[directory.substitutions]
"Desktop" = "󰇄 "
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Code" = " "
"Pictures" = " "

[cmd_duration]
format = "took [$duration]($style) "
style = "yellow"

[shell]
zsh_indicator = '_'
style = "fg:#000000 bg:#45BB11"
format = '[](fg:#45BB11)[ $indicator ]($style)[](fg:#45BB11)'
disabled = false

[c]
symbol = '󰙱'
style = "fg:#000000 bg:#127CFF"
format = '[](fg:#127CFF)[ $symbol ]($style)[](fg:#127CFF)'

[cpp]
symbol = ''
style = "fg:#000000 bg:#5797D8"
format = '[](fg:#5797D8)[ $symbol ]($style)[](fg:#5797D8)'
disabled = false

[dotnet]
symbol = ''
style = "fg:#000000 bg:#997DF8"
format = '[](fg:#997DF8)[ $symbol ]($style)[](fg:#997DF8)'

[java]
symbol = '󰬷'
style = "fg:#000000 bg:#FD3502"
format = '[](fg:#FD3502)[ $symbol ]($style)[](fg:#FD3502)'

[python]
symbol = ''
style = "fg:#000000 bg:#18C429"
format = '[](fg:#18C429)[ $symbol $virtualenv ]($style)[](fg:#18C429)'

[git_branch]
symbol = ""
style = "fg:#000000 bg:#18C429"
format = ' [](fg:#18C429)[ $symbol $branch ]($style)[](fg:#18C429 bg:#FF3F3F)'

[git_status]
style = "fg:#000000 bg:#FF3F3F"
format = '[$all_status$ahead_behind ]($style)[](fg:#FF3F3F)'

