/* github.com/pahasara/HyprDots */

@import url("themes/fluent.css");

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
  font-weight: bold;
}

window#waybar {
  color: @fg-module;
  background: @background;
  border: 1px solid @border;
  border-radius: 20px;
}

#workspaces button {
  padding: 0px;
  margin: 7px 12 0 12px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  opacity: 0.3;
  color: @fg-persist;
  background-color: @fg-persist;
}

#workspaces button:hover {
  color: @foreground;
  background: @foreground;
  border-radius: 15px;
  opacity: 0.5;
}

#workspaces button.active {
  color: @foreground;
  background: @foreground;
  border-radius: 15px;
  min-height: 40px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

#tray {
  background-color: @bg-tray;
}

#cpu,
#custom-storage,
#memory,
#clock {
  background: @background;
  padding: 9px;
  margin: 5px;
  font-size: 16px;
  font-weight: 900;
  font-family: "CaskaydiaMono Nerd Font";
  border-radius: 13px;
}

#clock.date {
  font-size: 12px;
}

#battery icon {
  color: red;
}

#battery.plugged {
  color: @foreground;
}

#battery.charging {
  color: @foreground;
  animation-name: blink;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: @fg-blink;
  }
}

#battery.warning:not(.charging) {
  color: @warning;
  animation-name: blink;
  animation-duration: 0.9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  color: @critical;
  animation-name: blink;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#idle_inhibitor {
  margin: 5px;
  border-radius: 16px;
  background: @foreground;
  color: @fg-alt;
  padding: 5px;
  padding-right: 12px;
}

#idle_inhibitor.activated {
  color: @fg-blink;
}

#idle_inhibitor.deactivated {
  color: @active;
}

#pulseaudio {
  font-size: 13px;
}

.modules-right {
  background: @bg-module;
  border-radius: 15px;
  padding-top: 7px;
  padding-bottom: 10px;
}

.modules-center {
  margin: 2px;
}

.modules-left {
  margin-top: 2px;
}
.modules-right,
#idle_inhibitor,
#clock {
  margin: 5px;
}
