* {
  bg0:    #121212CF;
  bg1:    #2A2A2A00;
  bg2:    #3D3D3D08;
  bg3:    #00b4f0ED;
  fg0:    #E6E6E6;
  fg1:    #FFFFFF;
  fg2:    #969696;
  fg3:    #3D3D3D;
  red     : #f7768e;
  green   : #9ece6a;
  yellow  : #e0af68;
  blue    : #7aa2f7;
  magenta : #9a7ecc;
  cyan    : #4abaaf;

  accent: @red;
  urgent: @yellow;
}
